<link rel="stylesheet" href="/style.css">

<h1>Edit Details</h1>

{{#if error}}
<p style="color:red;">{{error}}</p>
{{/if}}

<form method="POST" action="/edit/{{employee._id}}">
    <div>
        <label>Name:</label>
        <input type="text" name="name" value="{{employee.name}}">
    </div>

    <div>
        <label>Phone:</label>
        <input type="text" name="phone" value="{{employee.phone}}">
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>

<br>
<a href="/employee/{{employee._id}}" class="btn">Back</a>